{include file="public/header" /}
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
                <div class="layui-row layui-col-space15">                
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">订单管理</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-backlog" >
                                    <div carousel-item>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs1">
                                                <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                                                    <h3>总订单</h3>
                                                    <p><cite>66</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                                                    <h3>待预约</h3>
                                                    <p><cite>12</cite></p>
                                                </a>
                                            </li>                                        
                                           
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>待接单</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>已预约</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>已完成</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>退款申请</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>已退款</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>待分配</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>待跟进</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs1">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>已处理</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>
                                        </ul>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">销售线索</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                    <div carousel-item>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs3">
                                                <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                                                    <h3>待分配</h3>
                                                    <p><cite>66</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                                                    <h3>待跟进</h3>
                                                    <p><cite>12</cite></p>
                                                </a>
                                            </li>                                        
                                           
                                            <li class="layui-col-xs3">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>已处理</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>  
                                           
                                        </ul>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">投诉管理</div>
                            <div class="layui-card-body">

                                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                    <div carousel-item>
                                        <ul class="layui-row layui-col-space10">
                                            <li class="layui-col-xs3">
                                                <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                                                    <h3>待分配</h3>
                                                    <p><cite>66</cite></p>
                                                </a>
                                            </li>
                                            <li class="layui-col-xs3">
                                                <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                                                    <h3>待跟进</h3>
                                                    <p><cite>12</cite></p>
                                                </a>
                                            </li>                                        
                                           
                                            <li class="layui-col-xs3">
                                                <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                    <h3>已处理</h3>
                                                    <p><cite style="color: #FF5722;">5</cite></p>
                                                </a>
                                            </li>                                          
                                           
                                        </ul>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <script src="__LAYUI__/layui/layui.js"></script>
        <script>
            layui.config({
              base: '__LAYUI__/' //静态资源所在路径
            }).extend({
              index: 'lib/index' //主入口模块
            }).use(['index', 'console']);
        </script>
     
    </body>
</html>

