<script>
    var to="{:lang('to')}",
     page='{$Think.lang.page}',
     determine='{$Think.lang.determine}',
     pieces_page='{$Think.lang.pieces_page}',
     pieces_total="{:lang('pieces_total')}",
     tips="{:lang('tips')}",
     delete_confirm="{:lang('delete_confirm')}", 
     determine="{:lang('determine')}",
     cancel="{:lang('cancel')}",
     choose_data="{:lang('choose_data')}",
     close="{:lang('close')}",
     open="{:lang('open')}",
     confirm_operate="{:lang('confirm_operate')}",
     operate_success="{:lang('operate_success')}",
     message="{:lang('message')}";  
</script>