{include file="public/header" /}
<body>
<div class="layui-fluid">
<div class="layui-card">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
        <input type="hidden" name="id"  value="{$role.id}" >
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('role_name')}</label>
            <div class="layui-input-inline">
                <input type="text" name="title" lay-verify="required" value="{$role.title}" placeholder="{:lang('role_name')}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('status')}</label>
            <div class="layui-input-inline">
                <input type="checkbox" lay-verify="required" lay-filter="status" value="1" name="status" {if condition="$role.status eq 1" }checked{/if} lay-skin="switch" lay-text="{:lang('open')}|{:lang('close')}">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="layui-btn" lay-submit lay-filter="LAY-user-back-submit" id="LAY-user-back-submit" value="{:lang('determine')}">
        </div>
    </div>
</div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','form'])
</script>
</body>
</html>