@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#FFF;font-family:Arial,'Microsoft Yahei';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft Yahei';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#000; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
/*caption,th{text-align:left;}*/
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }

/*总结*/

.flex-center {
    display: flex;
    align-items: center;
}
input {
    outline: none;
    border: none;
    background: none;
}
img {
  display: block;
}
.fz12 {
  font-size: 0.24rem;
}
.fz14 {
  font-size: 0.28rem;
}
.fz16 {
  font-size: 0.32rem;
}
.fz18 {
  font-size: 0.36rem;
}
.fz20 {
  font-size: 0.4rem;
}
.col999 {
  color: #999;
}
.col666 {
  color: #666;
}
.col000 {
  color: #000;
}
*,
/* *::before, */
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-family: "PingFangSC, PingFang SC";
}
.wrap-1 {
  white-space: nowrap; /* 保证文本在同一行上 */
  overflow: hidden; /* 隐藏溢出的内容 */
  text-overflow: ellipsis; /* 显示省略号 */
}
.wrap-2 {
  display: -webkit-box; /* 使用弹性盒子布局模型 */
  -webkit-box-orient: vertical; /* 垂直排列子元素 */
  -webkit-line-clamp: 2; /* 限制在三行 */
  overflow: hidden; /* 隐藏溢出的内容 */
  text-overflow: ellipsis; /* 显示省略号 */
}
html {
  color: #000;
  background: #f0f0f0;
  font-family: "PingFangSC-Regular";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #666666;
  outline: none;
} /*此处待添加默认链接颜色*/